body {
    box-sizing: border-box;
    font-family: sans-serif;
    background: rgb(215, 227, 246);
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 300px;
    padding: 1rem;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.137);
}

.card__image img{
    border-radius: 10px;
    width: 300px;
}

.card__title{
    text-align: center;
}

.card__body{
    text-align: center;
    margin-bottom: 1.5rem;
}

footer{
    position: fixed;
    bottom: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}